# Node modules
readability-server/node_modules

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Folders
_obj

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

# Go specific
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
vendor/

# IDEs
.idea/
*.iml

# macOS
.DS_Store

# Database files
*.db

# Debug binaries
*__debug_bin*

# Go build files
/bin/

# Log files
*.log